*   {
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Laila', sans-serif;
}
body {
  background-image: url(css/fotoCarrito1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.titulo-pizzeria-header {
    background-color: coral;
    text-align: center;
}
a{
    text-decoration: none;
    color: #000;
}
footer{
    background-color: var(--baltic-sea);
}
.footer-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/footer-banner.jpg) center/cover no-repeat;
    padding: 3rem 0;
}
.footer-banner{
    color: #fff;
    text-align: center;
}
.footer-banner h2{
    font-size: 2.4rem;
}
.footer-banner .btn{
    margin-top: 2rem;
}
.footer-banner .btn:hover{
    background: #fff;
    color: var(--fire-bush);
    background: transparent;
}
footer > .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons{
    display: flex;
    padding: 3rem 0;
}
.social-icons a{
    color: greenyellow;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}
.social-icons a:hover{
    color: #fff;
}
